/* Error: The target selector was not found.
 * Use "@extend %dflex !optional" to avoid this error.
 *   ,
 * 4 |     @extend %dflex;
 *   |     ^^^^^^^^^^^^^^
 *   '
 *   scss\about.scss 4:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: The target selector was not found.\aUse "@extend %dflex !optional" to avoid this error.\a   \2577 \a 4 \2502      @extend %dflex;\d\a   \2502      ^^^^^^^^^^^^^^\a   \2575 \a   scss\\about.scss 4:5  root stylesheet';
}
