.container{
    width: 87%;
    margin: 0 auto;
    @extend %dflex;

    .col{
        background-color: #252525;
        width: 26%;
        border-radius: 20px;
        padding: 20px;
    }

    img{
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    h2{
        text-align: center;
        color: #fff;
        border-left:2px solid #e2cc4f;
        border-right:2px solid #e2cc4f;
    }

    p{
        color: #ccc;
        line-height: 15px;
        margin-top: 25px;
    }
}